@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}
   
   
   /* =============================================================================
      My CSS
      ========================================================================== */
   
   /* ---- base ---- */
   
   html,body{               
       width:100%;
       height:100%;
       background:#111;

   }
   
   html{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   
   body{
     font:normal 75% Arial, Helvetica, sans-serif;
     animation: loadin forwards 1s;

   }
   
   canvas{
     display:block;
     vertical-align:bottom;
   }
   
   /* ---- particles.js container ---- */
   
   #particles-js{
     width: 100%;
     height: 100%;
     background-color: #000000;
     background-image: url('');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
}

buttons:hover{
  cursor: pointer;
}

#mainHead{
    position: absolute;
    z-index: 99999;
    color: white;
    font-size: 40px;
    right: 50%;
    top: 0%;
    transform: translate(50%,50%);

}
   

.wrapper{
    z-index: 99999;
}

.navbar{
    /* put it on top of the sceen expanding to each end*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: #4d4a4a85;
    z-index: 99999;

}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}


.eyes{
    position: absolute;
    z-index: 99999999;
    color: rgb(255, 0, 0);
    font-size: 40px;
    right: 10%;
    top: 50%;
    transform: translate(50%,50%);

}


#proxurl{
    position: absolute;
    z-index: 99999999;
    color: rgb(255, 255, 255);
    background-color: rgba(129, 120, 120, 0.26);
    font-size: 20px;
    right: 74%;
    top: -6px;
    transform: translate(50%,50%);
    border:none;
    width: 500px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
}


#proxurl:focus{
    outline: none;
}


.picture{
    position: absolute;
    z-index: 99999999;
    color: rgb(255, 255, 255);
    background-color: rgba(44, 43, 43, 0.26);
    font-size: 20px;
    right: 98%;
    top: -15px;
    transform: translate(50%,50%);
    border:none;
    width: 50px;
    border-radius: 50px; 
}

.iframeWrapper{
    position: absolute;
    z-index: 99999999;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border:none;
    /*put it beneath the nav bar*/
    top: 10%;
    right: 0;
    width: 100%;
    height: 90%;
}

iframe{
    width: 100%;
    height: 100%;
    border:none;
}


#uvbtn{
    position: absolute;
    right: 49%;
    top: 25%;
    border:none;
    background-color: rgba(255, 255, 255, 0.26);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    height: 35px;
}

#womBtn{
    position: absolute;
    right: 43%;
    top: 25%;
    border:none;
    background-color: rgba(255, 255, 255, 0.26);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    height: 35px;
}
#uvbtn:hover{
  cursor: pointer;
}
#womBtn:hover{
  cursor: pointer;
}
#exitBTN{
   position: absolute;
    right: 39%;
    top: 25%;
    border:none;
    background-color: rgba(95, 164, 179, 0.51);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    width:40px;
    height: 35px;
}
#reloadBTN{
   position: absolute;
    right: 35%;
    top: 25%;
    border:none;
    background-color: rgba(95, 164, 179, 0.51);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    width:40px;
    height: 35px;
}

#exitBTN:hover{
  cursor: pointer;
}

#reloadBTN:hover{
  cursor: pointer;
}

#settRedir{
    position: absolute;
    right: 2%;
    top: 25%;
    border:none;
    background-color: rgba(255, 255, 255, 0.26);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    height: 35px;
}



@keyframes loadin{
    0%{
        opacity: 50%;
        /*make it float up */
        transform: translateY(10px);
    }
    100%{
        opacity: 100%;
        transform: translateY(-10px);

    }
}





.settingsTab{
    /* Put div at center of screen */
    position: absolute;
    z-index: 99999;
    color: white;
    font-size: 20px;
    right: 50%;
    transform: translate(50%,50%);
    border:1px solid rgba(255, 255, 255, 0.37);
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: 300px;
}



select{
    background-color: rgba(59, 56, 56, 0.5);
    color: white;
    border:none;
    border-radius: 10px;
}




#cloakInput{
    position: absolute;
    z-index: 99999;
    color: white;
    background-color: rgba(136, 130, 143, 0.54);
    font-size: 20px;
    right: 50%;
    transform: translate(50%,50%);
    border:none;
    width: 500px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
}

#cloakTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(71, 69, 69, 0.486);
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}
#cloakTitle:hover{
  cursor: pointer;
}



#homepageBtn{
  font-family: 'Lato', sans-serif;
  border:none;
  background-color:rgba(171, 156, 164, 0);
  font-size:20px;
  color: white;
  position: absolute;
  right:50%;
  top:50%;
  transform: translate(50%,50%);
  
}
